# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
wheels/
.venv/

# Data
data/

# Spark
derby.log
metastore_db/
spark-warehouse/

# IDE
.idea/
.vscode/
*.swp

# Docker volumes
docker/data/

# Downloaded JARs
docker/hive/lib/

# JVM crash dumps
hs_err_pid*.log
replay_pid*.log
core.*
